<div class="row">
  <div class="card col">
    <h3 class="card-header font-weight-bold d-flex justify-content-between">
      <span>帳號管理</span>
      <button type="button" class="btn btn-outline-primary" (click)="openAddingDialog(modalForAdding)">
        <i class="fa fa-user-plus"></i> 新增
      </button>
    </h3>
    <div class="card-body row">

      <div *ngFor="let data of currentTableData ; let dataIndex=index"
        class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 my-3">
        <div class="card">
          <h5 class="card-header">
            {{data.Account}}
            <span class="badge badge-{{roleMap[data.RoleID].Color}}">{{roleMap[data.RoleID].Text}}</span></h5>
          <div class="card-body">
            <h5 class="card-title">{{data.Name}}</h5>
            <p class="card-text">{{data.Email}}</p>
          </div>
          <div class="card-footer text-right">
            <button type="button" class="btn btn-outline-success mr-1"
              (click)="openAlteringDialog(dataIndex, modalForAltering)">
              <i class="fa fa-edit"></i> 修改
            </button>
            <button type="button" class="btn btn-outline-danger ml-1"
              (click)="openDeletingDialog(dataIndex, modalForDeleting)">
              <i class="fa fa-trash"></i> 刪除
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #modalForAdding>
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-user-plus"></i> 新增帳號</h5>
  </div>
  <div class="modal-body" *ngIf="currentAddingData">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">帳號</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="currentAddingData.Account" required />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">角色</span>
      </div>
      <select [(ngModel)]="currentAddingData.RoleID" class="form-control" required>
        <option *ngFor="let id of roleMapIdList" value="{{id}}">{{roleMap[id].Text}}</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">姓名</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="currentAddingData.Name" required />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
      </div>
      <input type="email" class="form-control" [(ngModel)]="currentAddingData.Email" required>
    </div>
    <div *ngIf="alertMessageForAdding" class="alert alert-danger">
      <div>{{alertMessageForAdding}}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">取消</button>
    <button type="button" class="btn btn-primary" (click)="doAdding()" [disabled]="buttonDisabledForAdding">確定</button>
  </div>
</ng-template>

<ng-template #modalForAltering>
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-edit"></i> 修改帳號</h5>
  </div>
  <div class="modal-body" *ngIf="currentAlteringData">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">帳號</span>
      </div>
      <input type="text" class="form-control" disabled="disabled" value="{{currentAlteringData.Account}}" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">角色</span>
      </div>
      <input type="text" class="form-control" disabled="disabled"
        value="{{roleMap[currentAlteringData.RoleID].Text}}" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">姓名</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="currentAlteringData.Name" required />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="currentAlteringData.Email" required>
    </div>
    <div *ngIf="alertMessageForAltering" class="alert alert-danger">
      <div>{{alertMessageForAltering}}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">取消</button>
    <button type="button" class="btn btn-primary" (click)="doAltering()"
      [disabled]="buttonDisabledForAltering">確定</button>
  </div>
</ng-template>

<ng-template #modalForDeleting>
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-trash"></i> 刪除帳號</h5>
  </div>
  <div class="modal-body" *ngIf="currentDeletingData">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">帳號</span>
      </div>
      <input type="text" class="form-control" disabled="disabled"
        value="{{currentTableData[currentDeletingIndex]?.Account}}" />
    </div>
    <div class="alert alert-warning" role="alert">確定刪除該帳號嗎？</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">取消</button>
    <button type="button" class="btn btn-primary" (click)="doDeleting()"
      [disabled]="buttonDisabledForDeleting">確定</button>
  </div>
</ng-template>
