<div class="row">
  <div class="card col">
    <h3 class="card-header font-weight-bold d-flex justify-content-between">
      <span>帳號管理</span>
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModalForAdding">
        <i class="fa fa-user-plus"></i> 新增
      </button>
    </h3>
    <div class="card-body row">

      <div *ngFor="let data of currentTableData" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 my-3">
        <div class="card">
          <h5 class="card-header">
            {{data.Account.toUpperCase()}}
            <span class="badge badge-{{roleMap[data.RoleID].Color}}">{{roleMap[data.RoleID].Text}}</span></h5>
          <div class="card-body">
            <h5 class="card-title">{{data.Name}}</h5>
            <p class="card-text">{{data.Account.toLowerCase()}}@eai.com.tw</p>
          </div>
          <div class="card-footer text-right">
            <button type="button" class="btn btn-outline-success mr-1" data-toggle="modal" data-target="#divModalForAltering">
              <i class="fa fa-edit"></i> 修改
            </button>
            <button type="button" class="btn btn-outline-danger ml-1" data-toggle="modal" data-target="#divModalForDeleting">
              <i class="fa fa-trash"></i> 刪除
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="divModalForAdding" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-user-plus"></i> 新增帳號</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">帳號</span>
          </div>
          <input type="text" class="form-control" placeholder="帳號" value="ANDY" />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">角色</span>
          </div>
          <select class="form-control" placeholder="角色">
            <option *ngFor="let id of roleMapIdList" value="{{id}}">{{roleMap[id].Text}}</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">姓名</span>
          </div>
          <input type="text" class="form-control" placeholder="姓名" value="吳安迪" />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input type="text" class="form-control" placeholder="Email" value="andy@eai.com.tw">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">確定</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="divModalForAltering" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-edit"></i> 修改帳號</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">帳號</span>
          </div>
          <input type="text" class="form-control" placeholder="帳號" disabled="disabled" value="ANDY" />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">角色</span>
          </div>
          <select class="form-control" placeholder="角色" disabled="disabled">
            <option *ngFor="let id of roleMapIdList" value="{{id}}">{{roleMap[id].Text}}</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">姓名</span>
          </div>
          <input type="text" class="form-control" placeholder="姓名" value="吳安迪">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input type="text" class="form-control" placeholder="Email" value="andy@eai.com.tw">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">確定</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="divModalForDeleting" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-trash"></i> 刪除帳號</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">帳號</span>
          </div>
          <input type="text" class="form-control" placeholder="帳號" disabled="disabled" value="ANDY" />
        </div>
        <div class="alert alert-warning" role="alert">確定刪除該帳號嗎？</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">確定</button>
      </div>
    </div>
  </div>
</div>
